/* passion.css */

#passion {
    height: 100vh;
    background-color: #f2f2f2;
    padding: 50px 0;
}

#passion .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#passion .container h2 {
    text-align: center;
    margin-top: 20px;
}

#passion .container .items {
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #64ffdb15;
    text-align: center;
    max-width: 300px;
    margin-bottom: 20px;
}



.card h3 {
    margin-bottom: 35px;
    color: #0a192f;
}

.card p {
    font-size: 20px;
    color: #666;
}

.icon {
    font-size: 56px;
    color: #0a192f;
    margin-bottom: 20px;
}
