/* Header.css */

#header {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgba(10, 25, 47, 0.7); 
}

#header .logo a img{
    width: 60px;
    margin-left: 20px;
    margin-top: 5px;
}
#header .navbar{
    margin-top: 25px;
    width: 40%;
    display: flex;
    justify-content: space-around;
}
#header .navbar li{
    list-style: none;
}
#header .navbar li a{
    color: #fff;
    text-decoration: none;
}
#header .navbar li a:hover{
    color: #64ffda;
    text-decoration: none;
}

#header .navbar li #hireMe{
    margin: 30px;
    padding: 5px 20px;
    border-radius: 20px;
    border: 1px solid #64ffda;
    text-align: center; 
    background-color: #90909d05; 
    color: white;     
}

#header .navbar li #hireMe:hover {
    border: 1px solid #64ffda;
    text-align: center; 
    background-color: #64ffdb86; 
    color: white; 
}