/* Home.css */

#home {
    position: relative;
    top: -60px;
    padding: 0;
    margin: 0;
    height: calc(110vh - 0px); 
    background-color: #0a192f;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: default;
}

#home .top-home h1,
#home .top-home h4 {
    font-size: 55px;
}

#home .top-home h1,
#home .top-home h4,
#home .bottom-home {
    margin: 20px;
    padding: 0;
    width: 100%;
    text-align: center;
}

#home .bottom-home {
    margin-top: 150px;
}

#home .bottom-home a {
    margin-top: 40px;
    padding: 5px 20px;
    border-radius: 20px;
    border: 1px solid #64ffda;
    text-align: center; 
    background-color: #90909d05; 
    color: white; 
}

#link{
    width: 400px;
}

#home .bottom-home a:hover {
    border: 1px solid #64ffda;
    text-align: center; 
    background-color: #64ffdb47; 
    color: white; 
}